/* INDEX.HTML */

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	color: #333;
	margin: 0px;
}

b {
	line-height: 45px;
}

a {
	text-decoration: none;
	color: #333;
}

#topBar {
	background-color: #333;
	color: #EEE;
	height: 50px;
}

#topBar span {
	padding: 9px 56px;
}

#topBar span a{
	color: #EEE;
}

#topBar span:hover:not(:first-child) {
	background-color: #555;
}

#logo {
	font-size: 32px;
	font-weight: bold;
}

#streamFilter {
	position: absolute;
	width: 150px;
	background-color: #EEE;
	padding: 20px;
	margin: 20px;
}

#content {
	margin: 0px 474px;
	height: 1090px;
	background-color: #EEE;
	padding: 20px 24px;
}

#featuredStreamsContainer div {
	float: left;
	width: 300px;
	padding: 10px 0px;
	margin-left: 2px;
}

#featuredStreamsContainer div img {
	width: 290px;
}

/* PLAYER.ASP */

#streamDescription {
	padding-bottom: 5px;
}

#divisionRank {
	float: right;
}

#stats {
	width: 940px;
}

.statsPanel {
	float: left;
	width: 280px;
	height: 300px;
	margin: 20px 10px;
	background-color: #DDD;
}

#rankLeague {
	text-align: center;
	font-weight: bold;
}

#rankLP {
	float: right;
	padding: 20px;
}

#rankInfo {
	float: left;
	padding: 20px;
}

#currentGame {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 6px;
}

#currentGame img {
	height: 32px;
	width: 32px;
	padding: 0px 5px;
}

#teamOne {
	float: left;
}

#teamTwo {
	float: right;
}

.player {
	width: 200px;
	padding: 7px;
}

.player span {
	padding-bottom: 3px;
}

#currentChampName {
	padding: 1px 10px;
}

#currentChampImg {
	width: 96px;
	padding: 10px;
}

.currentChampStatsPanels {
 	float: left;
 	margin: 10px 10px 10px 0px;
 	font-size: 17px;
 	font-weight: bold;
 	background-color: #CCC;
 	padding: 19px;
}

#currentChamp {
 	float: left;
 	margin: 10px;
 	font-weight: bold;
 	background-color: #CCC;
 	padding: 10px;
}

.currentChampStatsPanels div {
	padding: 5px;
}

#chat {
	position: absolute;
	margin: 20px;
}

/* CONTRIBUTE.ASP */

.contributeForm {
	font-size: 18px;
	padding: 20px;
}

.contributeForm input, select {
	width: 150px;
	float: right;
}

.contributeForm span {
	float: left;
}

.button {
	border: 0px;
	background: #333;
	color: white;
	font-weight: bold;
	position: relative;
	padding: 10px;
}

.button:hover {
	background: #555;
	cursor: pointer;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
}

/* CONTRIBUTE_CONFIRM.ASP */

#submission {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}