body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 24px;
	margin: 0px;
}

#topBar {
	background-color: #333;
	color: #EEE;
	height: 50px;
}

#topBar span {
	padding: 5px 56px;
}

#logo {
	font-size: 32px;
	font-weight: bold;
}

#content {
	margin: 20px 600px;
}

#featuredStreamsContainer div {
	float: left;
	width: 300px;
	height: 300px;
	margin-left: 2px;
	border: 1px solid gray;
}